<div class="row">
    <div class="col-sm-12">
      <div class="card mb-0">
        <div class="card-header">
          <h4 class="card-title mb-0">New Raw Material </h4>
        </div>
        <div class="card-body">
          <%= render 'form', raw_material: @raw_material %>
        </div>
      </div>
      <hr>
    </div>
  </div>
<%#= link_to 'Back', raw_materials_path %>
