
<%= content_for :breadcrumb do %>
  <li class="breadcrumb-item">Home</li>

  <li class="breadcrumb-item ">PIs</li>
  <li class="breadcrumb-item active">New PI</li>
<% end %>

<%= content_for :buttons do %>
  <%= link_to pis_path,class:"btn btn-info btn-sm float-right" do %>
    <i class="fa fa-undo mr-2"></i> Back
  <% end %>
<% end %>


<div class="row">
  <div class="col-sm-12">
    <div class="card mb-0">
      <div class="card-header">
        <h4 class="card-title mb-0">New PI</h4>
      </div>
      <div class="card-body">
        <%= render 'form', pi: @pi %>
      </div>
    </div>
    <hr>
  </div>
</div>


