
<%= content_for :breadcrumb do %>
  <li class="breadcrumb-item">Home</li>

  <li class="breadcrumb-item ">PIs</li>
  <li class="breadcrumb-item active">New PI</li>
<% end %>

<%= content_for :buttons do %>
  <%= link_to pis_path,class:"btn btn-info btn-sm float-right" do %>
    <i class="fa fa-undo mr-2"></i> Back
  <% end %>
<% end %>



<h5>New PI</h5>
<hr>

<%= render 'form', pi: @pi %>

