<footer class="c-footer">
  <div><a href="https://cybit.in">Deepak Cybit Pvt Ltd</a> &copy; 2020 .</div>
  <div class="ml-auto">Powered by&nbsp;<a href="https://cybit.in/">Deepak Cybit</a></div>
</footer>